.button
    width 120px
    height 20px 
    background-color blue
    border 1px solid red
    color black
    font-size 12px
    text-align center
    &:hover
        background-color rgba(255,255,255, .5)